---
import { Image } from "astro:assets";
import Starfield from "~/components/starfield.astro";
import radioImage from "~/assets/PP_Pieza2.png";
import leftLogo from "~/assets/ph.png";
import rightLogo from "~/assets/pp.png";
const widths = [450, 600];
const sizes = "(min-width: 440px) 42vw, 67vw";
---

<section class="relative h-full bg-black pb-8">
  <Starfield />
 
  <div class="relative flex flex-col items-center h-full justify-center gap-4">
    <div class="flex justify-between items-center  w-3/4 max-w-4xl mx-auto pt-4">
      <img src={leftLogo.src} alt="Left Logo" class="max-w-[100px] h-auto md:max-w-[75px] sm:max-w-[50px]" />
      <img src={rightLogo.src} alt="Right Logo" class="max-w-[100px] h-auto md:max-w-[75px] sm:max-w-[50px]" />
    </div>
    <h2 class="flex flex-col items-center gap-2 text-center">
      <div class="gradient-text font-extrabold tracking-tighter text-6xl md:text-8xl">
        Radio Cypher
      </div>
    </h2>
    <div id="astronaut" class=" max-w-xl">
      <Image
        class=" object-cover"
        src={radioImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="Radio Cypher"
      />
    </div>
    <div class="gradient-text font-bold text-center text-2xl md:text-2xl">
      web3 y Blockchain
      <br />
      para el ámbito artístico y cultural de Medellín
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 20px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
